* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: 'Courier New', Courier, monospace;
  text-shadow: #000 1px 1px 1px;
}

.App {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f5f5f5;
  background-image: url('image/backgound.jpeg') ;
  background-size: cover;
  background-position: center;
}